<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Orion Server</title>
    <link rel="stylesheet" href="~/lib/Trumbowyg/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">Orion Server</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            foreach (KeyValuePair<string, string> page in OrionServer.Data.Pages.pages)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Home/Pages/@Html.Raw(page.Key)">@Html.Raw(page.Key)</a>
                                </li>
                            }
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Live/Index/temperature~C-pressure~Pa-altitude~M-pressure~Pa_altitude~M">Live View</a>
                        </li>
                        @{
                            if ((ViewBag.LoggedIn == null) || (ViewBag.LoggedIn == false))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="/Admin/Index">Admin Panel</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a id="authenticationKeyBtn" class="nav-link text-dark" href="#">Authentication Keys</a>
                                </li>
                                <li class="nav-item">
                                    <a id="moduleBtn" class="nav-link text-dark" href="#">Modules</a>
                                </li>
                                <li class="nav-item">
                                    <a id="mailBtn" class="nav-link text-dark" href="#">Email</a>
                                </li>
                                <li class="nav-item">
                                    <a id="pagesBtn" class="nav-link text-dark" href="#">Pages</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Orion Server - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="container" style="width: 100%;">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/Trumbowyg/trumbowyg.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
